<li class="cards_item" data-id="{{id}}">
  <div class="card">
    {{#if ofUser}}
      <container class="card-delete">
        <div class="btn edit-btn" data-id="{{id}}"></div><div data-id="{{id}}" class="btn delete-btn"></div>
     </container>
    {{/if}}
    <div class="card_content card-delete">
      <h2 class="card_title update-title">{{title}}</h2>
      <h1 class="card_text update-body">{{body}}</h1>
    </div>
  </div>
</li>
